{% extends "zinnia/_entry_detail_base.html" %}
{% load i18n %}
{% load zinnia %}

{% block entry-shorturl %}
{% endblock entry-shorturl %}

{% block entry-discussions %}
    <p class="entry-discussions">
      <strong>{% trans "Discussions" %}</strong> :
      {% block entry-comments %}
      <span class="disqus-comment-count" data-disqus-identifier="{{ object.id }}"></span>
      {% endblock entry-comments %}
    </p>
    <script id="dsq-count-scr" src="//stevenpresser.disqus.com/count.js" async></script>
{% endblock entry-discussions %}
