<div class="hentry">
    <article itemtype="http://schema.org/Article" itemscope id="{{ .File }}">
        <header class="entry-header">
            <h1 class="entry-title"><a href="{{ .RelPermalink}}">{{ .Title }}</a></h1>
            <p class="entry-info">
                Published on {{ .PublishDate }}
                {{ if .Params.categories}}
                in {{ with .Params.categories}}{{ delimit . ", " }}{{ end }}
                {{ end }}
            </p>
        </header>
        <div class="entry-body">{{ .Content | truncate 1000 }}</div>
        <a href="{{ .RelPermalink }}">Continue reading</a>
    </article>
</div>