.menu ul {
    height: 1.5em; /*match ehight in ".menu li" rule.*/
    margin-left: 26px;
}

.menu li {
    /*margin: 0.25em;*/
    float: left;
    position: relative;
    height: 1.5em;
    min-width: 5em;
    padding-right: 1em;
    padding-left: 1em;
    color: #575757;
}

.menu li:hover {
    background-color: #e7ecf0;
}

.menu ul li a,
.menu ul li a:visited {
    color: #575757;
}

/* Second level menu */
.menu ul li:hover ul,
.menu ul li a:hover ul {
    border: 2px groove #575757;
    background: white;
    margin: 0px;
    padding: 0px;
}

/* Second level selected item */
.menu ul li:hover ul li:hover a,
.menu ul li a:hover ul li a:hover {
    margin: 0px;
    padding: 0px;
}
