
            <div id="header">
                <div id="titleimagediv"></div>
                <div id="twotraces">
                    
                    <div id="twotracesright">&nbsp;</div>
                </div>
            </div>
            <div class="menu" id="topmenu">
                <nav>
                    <ul class="top-navigation">
                        <li><a href="/blog" title="Blog" rel="home">Home/Blog</a>
                        <li><a href="http://github.com/spresse1">GitHub</a></li>
                        <li><a href="/contact">Contact</a></li>
                    </ul>
                </nav>
            </div>
            <div id="onetrace">
                <div id="onetraceleft"></div>
                <div id="breadcrumbs" class="breadcrumbs">
                    <nav>
                        {{- partial "breadcrumbs.html" -}}
                    </nav>
                </div>
            </div>