{% load url from future %}
{% load staticfiles %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xml:lang="{{ LANGUAGE_CODE }}" lang="{{ LANGUAGE_CODE }}" version="-//W3C//DTD XHTML 1.1//EN" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>Pressers.name- {% block title %}{% endblock %}</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="cache-control" content="public" />
    <meta name="robots" content="follow, all" />
    <meta name="language" content="{{ LANGUAGE_CODE }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="{% block meta-description %}{% endblock %}" />
    <meta name="keywords" content="{% block meta-keywords %}{% endblock %}" />
    {% block meta %}{% endblock %}
    <link rel="pingback" href="/xmlrpc/" />
    <link rel="shortcut icon" href="img/favicon.ico" />
    <link rel="stylesheet" type="text/css" media="screen, projection" href="{% static "css/base.css" %}" />
    <link rel="stylesheet" type="text/css" media="screen, projection" href="{% static "css/cssmenu.css" %}" />
    <link rel="stylesheet" type="text/css" media="screen, projection" href="{% static "css/menustyling.css" %}" />
    <link rel="stylesheet" type="text/css" media="screen, projection" href="{% static "css/blog.css" %}" />
    {% block link %}{% endblock %}
    {% block script %}{% endblock %}
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-34934675-1']);
      _gaq.push(['_setDomainName', 'pressers.name']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
  </head>
    <body class="{% block body-class %}{% endblock %}">
        <div id="leftbar">
            <img src="{% static "images/circuitry.png" %}" />
        </div>
        <div id="contentwrapper">
            <div id="header">
                <div id="titleimagediv"><img id="titleimage" 
                src="{% static "images/titlebar.png" %}" alt="the electronic Press" /></div>
                <div id="twotraces">
                    The personal site of S. Presser - Technology, projects, classes and life
                    <div id="twotracesright">&nbsp;</div>
                </div>
            </div>
            <div class="menu" id="topmenu">
                <ul class="top-navigation">
                    <li><a href="{% url 'zinnia_entry_archive_index' %}" title="The Blog" rel="home">Home/Blog</a>
                    {% comment stale %}<li><a href="/static/pdf/spresser-resume-web.pdf">Resume (PDF)</a></li>{% endcomment %}
                    <li><a href="http://github.com/spresse1">GitHub</a></li>
                </ul>
            </div>
            <div id="onetrace">
                <div id="onetraceleft"></div>
            </div>
            {% block slider %}{% endblock %}
            <div id="bodywrapper">
                <div id="innercontent">
                    {% block content %}{% endblock %}
                </div>
            </div>
            <div id="onetracebottom">
                Proudly powered by <a href="https://www.djangoproject.com/">Django</a><br>
                Site design by Kyle M.
            </div>
        </div>
  </body>
</html>
