{% extends "photologue/root.html" %}
{% load url from future %}

{% block meta %}
<!-- Photo specific styles -->
<link rel="stylesheet" type="text/css" href="/static/css/photos.css">
<!-- Fancybox -->
<script type="text/javascript" src="/static/external/jquery-1.11.1.min.js"></script>
<link rel="stylesheet" href="/static/external/fancybox/jquery.fancybox.css?v=2.1.5" type="text/css" media="screen" />
<script type="text/javascript" src="/static/external/fancybox/jquery.fancybox.pack.js?v=2.1.5"></script>
<link rel="stylesheet" href="/static/external/fancybox/helpers/jquery.fancybox-buttons.css?v=1.0.5" type="text/css" media="screen" />
<script type="text/javascript" src="/static/external/fancybox/helpers/jquery.fancybox-buttons.js?v=1.0.5"></script>
<script type="text/javascript" src="/static/external/fancybox/helpers/jquery.fancybox-media.js?v=1.0.6"></script>
<link rel="stylesheet" href="/static/external/fancybox/helpers/jquery.fancybox-thumbs.css?v=1.0.7" type="text/css" media="screen" />
<script type="text/javascript" src="/static/external/fancybox/helpers/jquery.fancybox-thumbs.js?v=1.0.7"></script>
{% endblock %}

{% block title %}{{ object.title }}{% endblock %}

{% block content %}
<script type="text/javascript">
	$(document).ready(function() {
		$(".fancybox").fancybox({
			prevEffect		: 'none',
			nextEffect		: 'none',
			closeBtn		: false,
			helpers		: {
				title	: { type : 'inside' },
				buttons	: {},
				overlay	: {
					locked	: false
				},
				//thumbs	: {
				//	width	: 50,
				//	height	: 50
				//}
			},
			beforeShow : function(){
				if ($(this.element).next('.caption').html()) {
					this.title += "<br />" + $(this.element).next('.caption').html();
				}
			}
		});
	});
</script>
<h1>{{ object.title }}</h1>
<h2>Originally published {{ object.date_added|date:"l, F jS, Y" }}</h2>
{% if object.description %}<p>{{ object.description }}</p>{% endif %}
<div class="photo-gallery">
    {% for photo in object.public %}
    <div class="gallery-photo">
        <a href="{{ photo.get_display1920_url }}" class="fancybox" rel="{{ object.title }}" title="{{photo.title}}"><img src="{{ photo.get_thumbnail_url }}" class="{% block gallery-photo-class %}{% endblock %}" alt="{{ photo.title }}" /></a>
        <div class="caption" style="display: none;">{% if photo.caption %}{{photo.caption}}<br />{% endif %}<a href="{{photo.image.url}}" target="_blank">Full-size image</a></div>
        <div class="fulllink" style="display: none;"></div>
    </div>
    {% endfor %}
</div>
<p><a href="{% url 'pl-gallery-list' 1 %}">View all galleries</a></p>

{% endblock %}
